
/*a2-trangchitietsp.html start*/
#content-a2-trangchitiet{
  width: 100%;
  height: auto;
  padding-top:5%;
  padding-bottom:5%;
}

.bg-event-0{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.bg-event-1{
  background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}
.bg-event-2{
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.bg-event-3{
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.bg-event-4{
  background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

#content-a2-trangchitiet .container{
background: white  fixed;

background-position: center;
background-size: cover;

height: auto;

}

#content-a2-trangchitiet #img-title{
  display: block;
  max-width: 100%;
  height: auto;
}

#content-a2-trangchitiet #ticket-button{
  background: rgba(226, 127, 11, 0.94);
  border-radius: 3px;
  border:none;
  font-size: 20px;
  padding: 6px 20px;
  color:white;
  font-weight: 600
}

#content-a2-trangchitiet #ticket-button:hover{
  background: rgba(241, 175, 99, 0.94);
  border:none;
}

#content-a2-trangchitiet .text-header1{
  font-weight: bold;
  font-size: 30px
}

#content-a2-trangchitiet .text-header2{
  font-weight: bold;
  font-size: 20px;
}

#content-a2-trangchitiet .text-content{
  color:#616161;font-size: 18px;
}

#content-a2-trangchitiet .sharebtn{
background: none;
border: none;
color:gray;

}

#content-a2-trangchitiet .sharebtn:hover{
background: none;
border: none;
color: rgba(128, 128, 128, 0.37);
}

#content-a2-trangchitiet .sharebtn i{
font-size: 32px;
}


/*a2-trangchitietsp.html end*/


/* profile admin start*/

body{margin-top:20px;}

.align-center, .center {
  text-align: center!important;
}

.profile-user-info {
  display: table;
  width: 98%;
  width: calc(100% - 24px);
  margin: 0 auto
}

.profile-info-row {
  display: table-row
}

.profile-info-name,
.profile-info-value {
  display: table-cell;
  border-top: 1px dotted #D5E4F1
}

.profile-info-name {
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: 400;
  color: #667E99;
  background-color: transparent;
  width: 110px;
  vertical-align: middle
}

.profile-info-value {
  padding: 6px 4px 6px 6px
}

.profile-info-value>span+span:before {
  display: inline;
  content: ",";
  margin-left: 1px;
  margin-right: 3px;
  color: #666;
  border-bottom: 1px solid #FFF
}

.profile-info-value>span+span.editable-container:before {
  display: none
}

.profile-info-row:first-child .profile-info-name,
.profile-info-row:first-child .profile-info-value {
  border-top: none
}

.profile-user-info-striped {
  border: 1px solid #DCEBF7
}

.profile-user-info-striped .profile-info-name {
  color: #336199;
  background-color: #EDF3F4;
  border-top: 1px solid #F7FBFF
}

.profile-user-info-striped .profile-info-value {
  border-top: 1px dotted #DCEBF7;
  padding-left: 12px
}

.profile-picture {
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 4px;
  display: inline-block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.dd-empty,
.dd-handle,
.dd-placeholder,
.dd2-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box
}

.profile-activity {
  padding: 10px 4px;
  border-bottom: 1px dotted #D0D8E0;
  position: relative;
  border-left: 1px dotted #FFF;
  border-right: 1px dotted #FFF
}

.profile-activity:first-child {
  border-top: 1px dotted transparent
}

.profile-activity:first-child:hover {
  border-top-color: #D0D8E0
}

.profile-activity:hover {
  background-color: #F4F9FD;
  border-left: 1px dotted #D0D8E0;
  border-right: 1px dotted #D0D8E0
}

.profile-activity img {
  border: 2px solid #C9D6E5;
  border-radius: 100%;
  max-width: 40px;
  margin-right: 10px;
  margin-left: 0;
  box-shadow: none
}

.profile-activity .thumbicon {
  background-color: #74ABD7;
  display: inline-block;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  line-height: 38px;
  margin-right: 10px;
  margin-left: 0;
  text-shadow: none!important
}

.profile-activity .time {
  display: block;
  margin-top: 4px;
  color: #777
}

.profile-activity a.user {
  font-weight: 700;
  color: #9585BF
}

.profile-activity .tools {
  position: absolute;
  right: 12px;
  bottom: 8px;
  display: none
}

.profile-activity:hover .tools {
  display: block
}

.user-profile .ace-thumbnails li {
  border: 1px solid #CCC;
  padding: 3px;
  margin: 6px
}

.user-profile .ace-thumbnails li .tools {
  left: 3px;
  right: 3px
}

.user-profile .ace-thumbnails li:hover .tools {
  bottom: 3px
}

.user-title-label:hover {
  text-decoration: none
}

.user-title-label+.dropdown-menu {
  margin-left: -12px
}

.profile-contact-links {
  padding: 4px 2px 5px;
  border: 1px solid #E0E2E5;
  background-color: #F8FAFC
}

.btn-link:hover .ace-icon {
  text-decoration: none!important
}

.profile-social-links>a:hover>.ace-icon,
.profile-users .memberdiv .name a:hover .ace-icon,
.profile-users .memberdiv .tools>a:hover {
  text-decoration: none
}

.profile-social-links>a {
  text-decoration: none;
  margin: 0 1px
}

.profile-skills .progress {
  height: 26px;
  margin-bottom: 2px;
  background-color: transparent
}

.profile-skills .progress .progress-bar {
  line-height: 26px;
  font-size: 13px;
  font-weight: 700;
  font-family: "Open Sans";
  padding: 0 8px
}

.profile-users .user {
  display: block;
  position: static;
  text-align: center;
  width: auto
}

.profile-users .user img {
  padding: 2px;
  border-radius: 100%;
  border: 1px solid #AAA;
  max-width: none;
  width: 64px;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s
}

.profile-users .user img:hover {
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .33);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .33)
}

.profile-users .memberdiv {
  background-color: #FFF;
  width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  text-align: center;
  margin: 0 8px 24px
}

.profile-users .memberdiv .body {
  display: inline-block;
  margin: 8px 0 0
}

.profile-users .memberdiv .popover {
  visibility: hidden;
  min-width: 0;
  max-height: 0;
  max-width: 0;
  margin-left: 0;
  margin-right: 0;
  top: -5%;
  left: auto;
  right: auto;
  opacity: 0;
  display: none;
  position: absolute;
  -webkit-transition: opacity .2s linear 0s, visibility 0s linear .2s, max-height 0s linear .2s, max-width 0s linear .2s, min-width 0s linear .2s;
  -o-transition: opacity .2s linear 0s, visibility 0s linear .2s, max-height 0s linear .2s, max-width 0s linear .2s, min-width 0s linear .2s;
  transition: opacity .2s linear 0s, visibility 0s linear .2s, max-height 0s linear .2s, max-width 0s linear .2s, min-width 0s linear .2s
}

.profile-users .memberdiv .popover.right {
  left: 100%;
  right: auto;
  display: block
}

.profile-users .memberdiv .popover.left {
  left: auto;
  right: 100%;
  display: block
}

.profile-users .memberdiv>:first-child:hover .popover {
  visibility: visible;
  opacity: 1;
  z-index: 1060;
  max-height: 250px;
  max-width: 250px;
  min-width: 150px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s
}

.profile-users .memberdiv .tools {
  position: static;
  display: block;
  width: 100%;
  margin-top: 2px
}

.profile-users .memberdiv .tools>a {
  margin: 0 2px
}

.dropdown-menu{
  background: #E27F0B;
  width: 170px;
  border: none;
}

.dropdown-menu a{
font-size:14px;

}

.dropdown-menu hr{
margin: 2% 0% 0% 0%;
color: rgb(71, 10, 71) !important;
height:   5% !important;
}

.show-on-hover:hover > ul.dropdown-menu {
display: block;    
}

#profile-admin .btneditprofile{
background: #E27F0B;
width: 200px;
height: 40px;
color:white;
font-size: 16px;
border: none;
margin:1% 5% 2% 5%

}

#profile-admin .btneditprofile:hover{
background: rgb(255, 170, 72);
}


#profile-admin .btnchangepass{
  background: #1E0A3C;
  width: 200px;
  height: 40px;
  color:white;
  font-size: 16px;
  border: none;
  margin:1% 5% 2% 5%


}

#profile-admin .btnchangepass:hover{
  background: rgb(63, 20, 128);
}



#profile-admin .btn-ticketevent{
  background-color:  #E27F0B;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin:0% 5% 0% 5%;
}

/* Darker background on mouse-over */
#profile-admin .btn-ticketevent:hover {
  background-color: rgb(255, 158, 47);
}

#profile-admin .icon{
  font-size: 18px;
  color:  #1E0A3C;
  
}

hr {
  display: block;
  height: 3px;
  border: 0;
  border-top: 1px solid rgba(204, 204, 204, 0.767);
  padding: 0;
  color: rgba(255, 255, 255, 0.336);
}


/* profile admin end*/

/*dashboard-stats start*/
.dashboard-stats .formchart{
margin: 5% 0% 0% 10%;
}

.card{
  background:rgb(255, 255, 255);
  border: 0.5pz solid rgb(209, 206, 206);
  margin: 0% 3% 3% 3%;
}

.circle-bar .progress{
width: 150px;
height: 150px;
line-height: 150px;
background: none;
margin: 0 auto;
box-shadow: none;
position: relative;
}
.circle-bar .progress:after{
content: "";
width: 100%;
height: 100%;
border-radius: 50%;
border: 12px solid #fff;
position: absolute;
top: 0;
left: 0;
}
.circle-bar .progress > span{
width: 50%;
height: 100%;
overflow: hidden;
position: absolute;
top: 0;
z-index: 1;
}
.circle-bar .progress .progress-left{
left: 0;
}
.circle-bar .progress .progress-bar{
width: 100%;
height: 100%;
background: none;
border-width: 12px;
border-style: solid;
position: absolute;
top: 0;
}
.circle-bar .progress .progress-left .progress-bar{
left: 100%;
border-top-right-radius: 80px;
border-bottom-right-radius: 80px;
border-left: 0;
-webkit-transform-origin: center left;
transform-origin: center left;
}
.circle-bar .progress .progress-right{
right: 0;
}
.circle-bar .progress .progress-right .progress-bar{
left: -100%;
border-top-left-radius: 80px;
border-bottom-left-radius: 80px;
border-right: 0;
-webkit-transform-origin: center right;
transform-origin: center right;
animation: loading-1 1.8s linear forwards;
}
.circle-bar .progress .progress-value{
width: 90%;
height: 90%;
border-radius: 50%;
background: #ffffff;
font-size: 24px;
color: rgb(56, 53, 53);
line-height: 135px;
text-align: center;
position: absolute;
top: 5%;
left: 5%;
}
.circle-bar .progress.blue .progress-bar{
border-color: #049dff;
}
.circle-bar .progress.blue .progress-left .progress-bar{
animation: loading-2 1.5s linear forwards 1.8s;
}
.circle-bar .progress.yellow .progress-bar{
border-color: #F2BE3E;
}
.circle-bar .progress.yellow .progress-left .progress-bar{
animation: loading-3 1s linear forwards 1.8s;
}
.circle-bar .progress.red .progress-bar{
border-color: #FE0000;
}
.circle-bar .progress.red .progress-left .progress-bar{
animation: loading-4 0.4s linear forwards 1.8s;
}
.circle-bar .progress.green .progress-bar{
border-color: #1FAE66;
}
.circle-bar .progress.green .progress-left .progress-bar{
animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100%{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
}
@keyframes loading-2{
0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100%{
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
}
}
@keyframes loading-3{
0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100%{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
}
@keyframes loading-4{
0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100%{
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
}
}
@keyframes loading-5{
0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100%{
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
}
}
@media only screen and (max-width: 990px){
.progress{ margin-bottom: 20px; }
}

.ratingbox .review-number {
float: left;
width: 35px;
line-height: 1;
}

.ratingbox .review-number div {
height: 9px;
margin: 5px 0
}

.ratingbox .review-progress {
float: left;
width: 230px;
}

.ratingbox .review-progress .progress {
margin: 8px 0;
}

.ratingbox .progress-number {
margin-left: 10px;
float: left;
}

.ratingbox .rating-block,
.ratingbox .review-block {
background-color: #fff;
border: 1px solid  rgba(226, 127, 11, 0.91);
padding: 15px;
border-radius: 4px;
margin-bottom: 20px;
}

.ratingbox .review-block {
margin-bottom: 20px;
}

.ratingbox .review-block-img img {
height: 60px;
width: 60px;
border-radius: 50%
}

.ratingbox .review-block-name {
font-size: 12px;
margin: 10px 0;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.5px;
}

.ratingbox .review-block-name a {
color: #374767;
}

.ratingbox .review-block-date {
font-size: 12px;
}

.ratingbox .review-block-rate {
font-size: 13px;
margin-bottom: 15px;
}

.ratingbox .review-block-title {
font-size: 15px;
font-weight: 700;
margin-bottom: 10px;
}

.ratingbox .review-block-description {
font-size: 13px;
}

.ratingbox .starchecked{
color: rgba(226, 127, 11, 0.91);
}

.ratingbox .star{
color: rgba(238, 191, 136, 0.91);
}


.ratingbox{
margin:5%;

}

.ratingbox hr{
display: block;
height: 3px;
border: 0;
border-top: 1px solid rgba(226, 127, 11, 0.91);
padding: 0;
color: rgba(255, 255, 255, 0.336);
}

.ratingbox .headerReview{
background: white;
color:  rgba(226, 127, 11, 0.91);
margin-left:2%
}

.btndashboard{
background:  rgba(226, 127, 11, 0.91);
color: white;
border: none;
width: 80px;
height: 30px;

}
/*dashboard-stats end*/