/* define primary color and background */
.bg-main{
    background: #1E0A3C !important;
}
.color-main{
    color:#E27F0B !important;
}
.bg-primary{
    background:#E27F0B !important;
}
.color-white{
    color: white !important;
}
.mt-50{
   margin-top: 50px; 
}
.mt-100{
    margin-top: 100px; 
 }
.mt-30{
    margin-top: 30px; 
 }
 .mt-20{
    margin-top: 20px; 
 }
 .ml-20{
    margin-left: 20px;
 }
 .ml-30{
    margin-left: 30px;
 }
 .ml-50{
    margin-left: 50px;
 }
 .ml-100{
    margin-left: 100px;
 }
 .rm-margin{
     margin: 0px !important;
 }
 .rm-padding{
     padding: 0px !important;
 }
/* custom here */

/* index.html start */
.navbar .name-page{
    font-size: 26px;
    font-weight: bold;
}

#navbarSupportedContent .form-control{
    border-radius: 0px;
}
.btn-search{
    background: transparent;
    border: none;
    color: rgb(27, 25, 25);
    position: absolute;
    right: 12px;
    z-index: 100;
    border-radius: none;
}
.feature{
    padding-right: 10%;
}
.feature a{
    padding: 0px 10px;
}
.feature, .feature a{
    width: 100%;
    text-align: right;
    color: white;
    font-weight: 500;
    font-size: 16px
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
  }
@media only screen and (min-width: 1024px){
    .logo{
        margin-left: 50px !important;
    }
    .search-form{
        margin-left: 10%;
    }
    .search-input{
        width: 420px !important;
    }
}

@media only screen  and (max-width: 1024px){
    .search-box{
        width: 100%;
    }
}

/* carousel */
@media only screen and (min-width: 1024px){
    .slide-intro .carousel-item{
        height: 500px;
    }
    .slide-intro .carousel-indicators li{
        width: 50px !important;
    }
}

.carousel-control-next-icon {
    background-image: url("../img/icon/next.png")
}

.carousel-control-prev-icon {
    background-image: url("../img/icon/previous.png")
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 32px;
    height: 32px;
}
.slide-intro .carousel-indicators li{
    width: 40px;
}

/* comming */

@media only screen  and (max-width: 620px){
    .date-box{
        display: none;
    }
}
.comming-box{
    margin-top: 30px;
}
.title-cate{
    font-weight: bold;
    text-align: center;
}
.card{
    margin: 40px 0px;
    box-shadow: 5px 5px rgb(241, 240, 240);
}
.date-box{
    box-shadow: 3px 3px rgb(245, 245, 245);
    border: 0.4px solid rgb(223, 223, 223);
}
.date-box .date-header{
    background: rgb(230, 11, 11);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 6px 0px;
}
.date-box .date-body{
    text-align: center;
    font-size: 24px;
    padding: 18px 0px;
    font-weight: 600
}
.card-title{
    font-weight: bold
}
.card-text{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 450
}
.btn-more{
    color: white;
    background: #E27F0B;
    padding: 6px 30px;
    border: none;
}

.badge-price{
    position: absolute;
    right: 5px;
    top: 10px;
    padding: 0px 8px;
    color: white;
    font-weight: bold;
    background: rgb(250, 136, 5);
}

/* suggest */

.title-suggest{
    color: white;
    padding: 10px;
    text-align: center
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}

/* login modal start */
#modal-login .modal-header{
    background: #1E0A3C;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

#modal-login .modal-header a{
    color: rgb(158, 148, 148);
}

#modal-login .modal-header a:hover {
    border: none;
}
#modal-login .nav-tabs {
     border-bottom: none;
     background:#1E0A3C;
}

#modal-login .nav-link.active{
    border-radius: 0px;
    border: none;
    color: white;
    background: transparent;
    text-decoration: underline;
    text-underline-position: under;
    
}
/* login modal end */

/*Footer start*/
.footer{
    background: #1E0A3C;
}

.footer h1{
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: normal;
color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .footer .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .footer .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .footer .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .footer .carousel-inner .active + .carousel-item {
        display: block;
    }
    .footer .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .footer .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .footer .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .footer .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .footer .carousel-item-next.carousel-item-left + .carousel-item,
    .footer .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .footer .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .footer .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .footer .carousel-item-prev.carousel-item-right + .carousel-item,
    .footer .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .footer .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .footer .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .footer .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .footer .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .footer .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .footer .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .footer .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .footer .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .footer .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .footer .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.footer .text1{
    color: #E0E0E0;
    font-size: 15px;

}

.footer .text2{

    font-size: 15px;
    color: #E27F0B;
}

.footer .texth3{
    font-weight: bold;
    font-size: 24px;    
    color: #DADADA;
}

.footer .footericon{
    margin-right: 10px !important; 
    margin-top:5px !important;
    margin-bottom:10px !important;

    size: 32px !important;

}

.footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color: white;
}




/*Footer end*/

/* index.html end */


/* admin-login.html start */
.admin-login{
    background-color: #dad6d6;
    height: 100%;
    padding: 10px;
}

.admin-login .row{
    margin: 0px;
}
.admin-login .title{
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 800;
    font-size: 27px;
    color:#1b2244;
}

.admin-login .body{
    background: #1E0A3C;
    padding: 40px;
    text-align: center;
    border-radius: 10px

}
.admin-login .body form{
    width:40%;
    margin: auto;
}

@media(max-width: 768px){
    .admin-login .body form{
        width: 80%;
    }
}
.admin-login .body .logo{
    padding: 20px;
}

.admin-login .input-group-text{
    color: #a5a4a7;
    background: white;    
}
.admin-login .input-group{
    margin: 20px auto;
}

.admin-login .body form .form-check-label,.admin-login .forgot-pass{
    color: #8a8888;
    font-weight: 450;
}
.admin-login .body form .btn-login{
    padding: 6px 50px;
    border-radius:16px;
    background: #E27F0B;
    border:none;
    color: white;
    font-weight: 450;
}
.admin-login .body form .btn-login:active{
    background: #E27F0B !important;
}

.admin-login .login-with{
    color: rgb(173, 173, 173);
    font-weight: 400;
}

.admin-login .login-with img{
    width: 27px;
    height: 26px;
    margin-left: 10px;
}

.admin-login .login-with img:hover{
    width: 32px;
    height: 31px;
}
/* admin-login.html end */


/* dashboard.html start */
.nav-admin{
    background: #EFEFEF;
}
img.avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #7c6753;
}

.nav-admin .logout{
    color: #1E0A3C;
    font-weight: 550
}
.dashboard-body{
    margin-top: 65px;
    background: #EFEFEF;
    padding-bottom: 40px;
}

.dashboard-body .nav .nav-item .fa{
    color: white;
    margin-top: 10px;
    font-size: 32px;
}

.dashboard-body .nav a{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.dashboard-body .nav a.active{
    background: transparent;
    color: white;
    text-decoration: underline;
}

/* dashboard.html end */

/* dashboard-event.html start */

img.banner-card{
    width: 100%;
    height: 150px;
}

.event .card-body{
    padding: 0px;
}

.event .card-header{
    background: white;
    font-weight: 700;
    text-align: left;
    padding-bottom: 0px;
}

.event .edit{
    color: rgb(199, 195, 195);
}

.event .time{
    font-size: 12px;
    font-weight: 200;
    color: rgb(165, 162, 162);
}

.event .avatar-box{
    text-align: right;
}

.event .content-event{
    text-align: left;
    margin-top: 10px;
}

.event .event-name{
    color: #E27F0B;
    margin-left:15px;
    font-weight: 700;
    font-size: 19px;
}

.event .card-body .info-event{
    color: rgb(59, 58, 58);
    font-size: 18px;
    font-weight: 700;
}

.event .card-body .info-event p{
    color: rgb(122, 120, 120);
    font-size: 11px;
    font-weight: 350;
}

.row{
    margin: 0px;
}

#dashboard-event .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #E27F0B;
    border:none;
}

#dashboard-event .page-item .page-link {
    color: #E27F0B;
}

.border-left{
    border-left: 2px solid white;
}

#dashboard-event .right-box{
    background: white;
    width:80%;
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
}

#dashboard-event .right-box .total-event{
    font-size: 22px;
    font-weight: 700;
    color: rgb(49, 49, 49);
}

/* circle progressbar */

.circle-wrap {
    margin: 15px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
  }

  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }

  
  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: rgb(17, 129, 14);
  }
  .circle-wrap .circle .mask.full,
  .circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(126deg);
  }
   
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(126deg);
    }
  }

  
  .circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }

  /* circle progressbar end */

  .title-top{
      color: #1E0A3C;
      font-size: 25px;
      font-weight: 800;
      text-align: center
  }

.top-event{
    margin: 20px auto;
    background: white;
    width: 83%;
}

.filter{
    margin-top: 40px;
    margin-right: 10px;
}

.sort{
    width: fit-content; display: inline;
}

.filter-box{
    background: white;
    padding: 10px 12px;
    margin-right: 15px;
    border: 0.5px solid rgb(209, 207, 207);
    border-radius: 3px;
    color: rgb(83, 81, 81);
}

.filter-box:hover{
    background: #ececec;
}

.label-datepicker{
    margin-top: 5px;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 0px;
}
/* dashboard-event.html end */


/* about.html start */
.bg-gray{
    background:#dadada;
}

.information{
    background:white;
    padding:40px 40px;
    text-align: center;
    border-radius:4px;
}

.information .title-main{
    font-weight:700;
}
.information .info .title{
    font-weight:600;
    font-size:17px;
}

.contact .ic-envelope{
    font-size: 40px;
    color:white;
}

.contact-box{
    padding-top:40px;
    font-size: 23px;
    font-weight:600;
    text-align:center;
}

.contact form .title-input{
    font-weight: 550;
}

.contact form input[type='text'], .contact form input[type='email']{
    width:75%;
}

.contact form input[type='submit']{
    color:white;
    background:#E27F0B;
    padding:7px 30px;
    border:none;
    float:right;
    margin-right:25%;
    margin-bottom:30px;
}
/* about.html end */


/* admin-detail-event.html start */
.detail .feature .filter select{
    width:fit-content;
    display: inline;;
}

.detail .title{
    color:black;
    width:fit-content;
}

.detail .type{
    float: left;
    margin-bottom:10px
}

.detail .pag{
    float: right;
    margin-top:25px;
}
.color-red{
    color:red;
}

.detail .card{
    box-shadow: none;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

.detail .ticket{
    border: 0.5px solid rgb(224, 222, 222);
    padding:30px 10px;
    background-color: rgb(255, 89, 60);
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    
    color:white;
    border-radius:3px;
}

.detail .ticket .name-ticket{
    text-align: center;
    font-weight: 700;
    font-size:22px;
}

.detail .ticket .info{
    font-weight: 500;
    font-size: 14px;
    text-align: center
}
/* admin-detail-event.html end */