
/*a2-trangchitietsp.html start*/
#content-a2-trangchitiet{
    background: white  fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
   margin-top:100px;

}


#content-a2-trangchitiet #img-title{
    display: block;
    max-width: 100%;
    height: auto;
}

#content-a2-trangchitiet #ticket-button{
    background: rgba(226, 127, 11, 0.94);
    border-radius: 3px;
    width: 280px;
    height: 60px;
    text-align: center;
   
}

#content-a2-trangchitiet #ticket-button p{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 36px;

}

#content-a2-trangchitiet .text-header1{
    font-weight: bold;
    font-size: 30px
}

#content-a2-trangchitiet .text-header2{
    font-weight: bold;
    font-size: 20px;
}

#content-a2-trangchitiet .text-content{
    color:#616161;font-size: 18px;
}

/*a2-trangchitietsp.html end*/