/* define primary color and background */
.bg-main{
    background: #1E0A3C !important;
}
.color-main{
    color:#E27F0B !important;
}
.mt-50{
   margin-top: 50px; 
}
/* custom here */

/* index.html start */
.navbar .name-page{
    font-size: 26px;
    font-weight: bold;
}

.btn-search{
    background: transparent;
    border: none;
    color: rgb(27, 25, 25);
    position: absolute;
    right: 12px;
    z-index: 100;
    border-radius: none;
}
.feature{
    padding-right: 10%;
}
.feature a{
    padding: 0px 10px;
}
.feature, .feature a{
    width: 100%;
    text-align: right;
    color: white;
    font-weight: 500;
    font-size: 16px
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
  }
@media only screen and (min-width: 1024px){
    .logo{
        margin-left: 50px !important;
    }
    .search-form{
        margin-left: 10%;
    }
    .search-input{
        width: 420px !important;
    }
}

@media only screen  and (max-width: 1024px){
    .search-box{
        width: 100%;
    }
}

/* carousel */
@media only screen and (min-width: 1024px){
    .slide-intro .carousel-item{
        height: 500px;
    }
    .slide-intro .carousel-indicators li{
        width: 50px !important;
    }
}

.carousel-control-next-icon {
    background-image: url("../img/icon/next.png")
}

.carousel-control-prev-icon {
    background-image: url("../img/icon/previous.png")
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 32px;
    height: 32px;
}
.slide-intro .carousel-indicators li{
    width: 40px;
}

/* comming */

@media only screen  and (max-width: 620px){
    .date-box{
        display: none;
    }
}
.comming-box{
    margin-top: 30px;
}
.title-cate{
    font-weight: bold;
    text-align: center;
}
.card{
    margin: 40px 0px;
    box-shadow: 5px 5px rgb(241, 240, 240);
}
.date-box{
    box-shadow: 3px 3px rgb(245, 245, 245);
    border: 0.4px solid rgb(223, 223, 223);
}
.date-box .date-header{
    background: rgb(230, 11, 11);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 6px 0px;
}
.date-box .date-body{
    text-align: center;
    font-size: 24px;
    padding: 18px 0px;
    font-weight: 600
}
.card-title{
    font-weight: bold
}
.card-text{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 450
}
.btn-more{
    color: white;
    background: #E27F0B;
    padding: 6px 30px;
    border: none;
}

.badge-price{
    position: absolute;
    right: 5px;
    top: 10px;
    padding: 0px 8px;
    color: white;
    font-weight: bold;
    background: rgb(250, 136, 5);
}

/* suggest */

.title-suggest{
    color: white;
    padding: 10px;
    text-align: center
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}

/* login modal start */
#modal-login .modal-header{
    background: #1E0A3C;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

#modal-login .modal-header a{
    color: rgb(158, 148, 148);
}

#modal-login .modal-header a:hover {
    border: none;
}
#modal-login .nav-tabs {
     border-bottom: none;
     background:#1E0A3C;
}

#modal-login .nav-link.active{
    border-radius: 0px;
    border: none;
    color: white;
    background: transparent;
    text-decoration: underline;
    text-underline-position: under;
    
}
/* login modal end */

/*Footer start*/
.footer{
    background: #1E0A3C;
}

.footer h1{
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: normal;
color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .footer .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .footer .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .footer .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .footer .carousel-inner .active + .carousel-item {
        display: block;
    }
    .footer .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .footer .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .footer .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .footer .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .footer .carousel-item-next.carousel-item-left + .carousel-item,
    .footer .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .footer .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .footer .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .footer .carousel-item-prev.carousel-item-right + .carousel-item,
    .footer .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .footer .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .footer .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .footer .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .footer .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .footer .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .footer .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .footer .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .footer .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .footer .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .footer .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.footer .text1{
    color: #E0E0E0;
    font-size: 15px;

}

.footer .text2{

    font-size: 15px;
    color: #E27F0B;
}

.footer .texth3{
    font-weight: bold;
    font-size: 24px;    
    color: #DADADA;
}

.footer .footericon{
    margin-right: 10px !important; 
    margin-top:5px !important;
    margin-bottom:10px !important;

    size: 32px !important;

}

.footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color: white;
}



/*Footer end*/

/* index.html end */