 <style>
     .btn-submit{
         background: rgba(226, 127, 11, 0.91);
         border:none;
         float: right;
         padding: 7px 24px
     }
     .btn-submit:hover{
         background: rgba(230, 124, 4, 0.91);
         box-shadow: 10px 10px;
     }
     .btn-submit::after{
         background: rgba(230, 124, 4, 0.91);
     }
 </style>
 <title>{{title}}</title>
<div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin: 10% auto">
            <div class="form-group" style="text-align:">
                <label for=""><b>New password</b></label>
                <input type="password" class="form-control" name="password"  required id="pass">
                <br>
                <label for=""><b>Repeat password</b></label>
                <input type="password" class="form-control" name="password"  required id="repass">
                        <div class="message-danger">
                            <p id="message"></p>
                        </div>
                </div>
                <button type="button" class="btn btn-primary btn-submit mt-20" onclick="change()">Confirm</button>
    </div>
    
</div>

<script>
    function change(){
        var pass = $("#pass").val();
        var repass = $("#repass").val();

        if(pass!==repass){
            $("#message").text("Password does not matching");
        }else{
            $.ajax({
                type: "PUT",
                url: "/change-password",
                data: {
                    password: pass,
                    token: '{{token}}'
                },
                success: function (res) {
                    if(res.status==200){
                        showSnackbar(res.message);
                        setTimeout(()=>{
                            location.href = '/';
                        },200);  
                    }else{
                        $("#message").text(res.message);
                    }
                }
            });
        }
    }
</script>