<div class="container-fuild" id="content-a2-trangchitiet" >
    <div class="container"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="row">
            {{#each events}}
            <div class="col-md-8 col-lg-8">
                <img src="{{img}}" alt="" id="img-title">
            </div>
            <div class="col-md-3 col-lg-3" style="margin-left: 20px" >
                <div class="row">
                        <p style="color:#E27F0B;font-weight: bold;font-size:36px ">Apr</p>
                </div>

                <div class="row">
                        <p style="font-size: 20px">23</p>
                </div>

                <div class="row">
                        <p class="text-header2">Electricfy VietNam 2019</p>
                </div>

                <div class="row">
                        <p style="color:#636363;font-weight: bold;font-size: 18px;">NTC: <a href="./about.html">Confexhub Sdn, Bhd.</a></p>
                </div>
                <div class="row">
                    <p class="text-header2">50.000VNĐ - 700.000VNĐ</p>
                </div>  
                <div class="row">
                    <button onclick="location.href='./booking.html'"id="ticket-button" class="btn-buy-now">Mua vé ngay</button>
                </div>
                <hr/>

            </div>
        </div>

        <div class="row" style="margin-left: 5px;margin-right: 5px;margin-top:5px">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="row text-header1" >
                    <p>ELECTRIFYING VIETNAM THROUGH SUSTAINABLE ENERGY PLANS</p>
                </div>

                <div class="row text-header1" >
                    <p>Thông tin sự kiện</p>
                </div>

                <div class="row text-content" >
                    <p>According to the revised Power Development Plan (PDP 7), Vietnam requires total investment of $143.5 billion (excluding privately financed BOT power generation projects) for meeting its double-digital annual growth of energy in demand. The Vietnam government is broadening their strategic approaches to fully tap the huge potential of its energy sector by unlocking private investment potentials; inviting foreign technical expertise and foreign investment for participation in its energy projects. It is estimated that Vietnam requires investment of 15billion per year, which 75% is earmarked for generation and 25% for development of the transmission and distribution network.
                    <br>
                        <br> The hosting of the Electrify Vietnam 2019 (EVN2019) is to provide an interactive platform for potential investors and key players of the industry from over 25 countries to get updated on the new directions, investment policies and market potential of the energy and power sector in Vietnam; at the same time discuss strategies and share insights to support the National Power Development Plan in order to fulfill the demand of 515Twh in 2030.</p>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3  text-content" >
                <div style="margin-left: 20px">
                    <div class="row">
                            <p  class="text-header2">Thời gian</p><br>
                            <p>Thu, Mar 28, 2019, 7:30 AM –
                                    Fri, Mar 29, 2019, 4:30 PM Indochina Time Vietnam Time</p>
                            
                           
                    </div>

                    <div class="row">
                            <a href="#" style="color:#636363;margin-bottom:5%">Thêm lịch
                                </a>
                    </div>

                    <div class="row">
                        <p  class="text-header2">Địa điểm</p><br>
                        <p>Rex Hotel
                                141 Nguyễn Huệ
                                 Ho Chi Minh, ho chi minh 700000
                                </p>
                        <a href="#googleMap" style="color:#636363;margin-bottom:5%">Xem bản đồ</a>
                    </div>
                    
                    <div class="row">
                        <div class="row">
                                <span>Chia sẽ:</span></br>
                        </div>
                        <div class="row ">
                                <div class="col-3">
                                        <button class="sharebtn"> 
                                                <i class="fab fa-facebook "></i>
                                        </button>
                                </div>
        
                                <div class="col-3">
                                    <button class="sharebtn">
                                        <i class="fab fa-twitter-square"></i>   
                                    </button>  
                                </div>
        
                                <div class="col-3">
                                        <button class="sharebtn">
                                            <i class="fas fa-envelope-square"></i>
                                        </button> 
                                </div>
             
                                <div class="col-3">
                                    <button class="sharebtn">
                                        <i class="fab fa-instagram"></i>
                                    </button>
                                </div>
        
                        </div>
                       
                       
                    </div>
                </div>
            </div>
        </div>
        <hr/>


        <div class="row  d-flex justify-content-center">
            <img src="../img/event/company.PNG" alt="">
        </div>
        <div class="row  d-flex justify-content-center">
            <a href="#">Confexhub Sdn</a>
        </div>
        <div class="row  d-flex justify-content-center">
            <p  class="center-block" >Organier of electrify VN</p>
        </div>
        <div class="row  d-flex justify-content-center" style="margin-bottom: 20px">
            <div style="margin-right: 50px">
                <button>Theo dõi</button>
            </div>
            <div >
                <button onclick ="window.location.href='./about.html'">Liên hệ</button>
            </div>
        </div>
  

        <div class="row">
            <div id="googleMap" style="width:100%;height:400px;"></div>
        </div>

        
        <div class="row d-flex justify-content-center" >
            <p class="text-header2">Electricfy VietNam 2019</p>
        </div>
        <div class="row  d-flex justify-content-center">
            <p>at</p>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="text-header2">Rex Hotel</p>
        </div>
        <div class="row d-flex justify-content-center">
            <p>141 Nguyễn Huệ, HCM</p>
        </div>

        <div class="row d-flex justify-content-center">
                <div class="fb-comments" data-href="https://tickat.herokuapp.com/a2-trangchitietsp.html" data-width="" data-numposts="5"></div>
        </div>

    {{/each}}

    </div>


</div>