 <style>
     .btn-submit{
         background: rgba(226, 127, 11, 0.91);
         border:none;
     }
     .btn-submit:hover{
         background: rgba(230, 124, 4, 0.91);
         box-shadow: 10px 10px;
     }
     .btn-submit::after{
         background: rgba(230, 124, 4, 0.91);
     }
 </style>
 <div class="admin-login"> 
        <div class="title"> 
            {{!-- <p>Admin login</p>  --}}
        </div> 
        <div class="row"> 
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div> 
         
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 body mt-30"> 
                <div class="logo"> 
                    <img src="/img/logo/logo_1x.png"> 
                    <img src="/img/logo/Tickat_1x.png"> 
                </div> 
                <hr>
                <div class="mt-50">
                    <form action="/request-change-password" method="get" class="mt-50">
                    <div class="form-group" style="text-align:">
                        <label for=""><b>Enter your email was used to sign up in tickat.</b></label>
                        <input type="email"
                            class="form-control" name="email" placeholder="example@gmail.com" required>
                        <input type="text" hidden name="href" id="href">
                        <div class="message-danger">
                            <p id="message">{{error}}</p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-submit mt-20">Request change password</button>
                </form>
                </div>
            </div> 
        </div> 
         
    </div> 
<script>
    $("#href").val(location.href);
</script>
