
<div class="container mt-50">
                <div id="createevent">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1. Event information
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#createevent">
                            <div class="card-body">
                                <div class="form-group">
                                    <div>
                                        <label for="profile-img" class="btn title" style="cursor: pointer"><i class="far fa-images"></i> Choose image here:</label>
                                        <input name="file" id="profile-img" style="visibility:hidden;" type="file">
                                    </div>
                                    
                                    <img src="https://www.riversports.com/rs/img/system/add_image_placeholder.png" id="profile-img-tag" style="width: 100%; height: 500px;"/>
                                </div>
                                <div class="form-group">
                                  <label class="title"><i class="fas fa-edit"></i> Event name:</label>
                                  <input type="text"
                                    class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                </div>
                              
                                <div class="form-group">
                                  <label  class="title"><i class="fas fa-map-marker"></i> Address:</label>
                                  <input type="text"
                                    class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                </div>

                                <label  class="title"><i class="fas fa-flag"></i> Organization:</label>
                                <div class="input-group">
                                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" style=" margin-right: 5%">
                                       <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
   
                                    <button type="button" class="btn btn-success" > <i class="fas fa-plus-circle"></i> Add an organization</button>
                                </div>

                                <label  class="title mt-20"><i class="fas fa-align-justify"></i> Category:</label>
                                <div class="input-group">
                                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" style=" margin-right: 5%">
                                       <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
   
                                    <button type="button" class="btn btn-success" > <i class="fas fa-plus-circle"></i> Add a category</button>
                                </div>

                                <label  class="title mt-20"><i class="fas fa-info-circle"></i> Description:</label>
                                <textarea name="mailEditor" id="txtEditor"></textarea>

                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. Tickets
                              </button>
                            </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#createevent">
                                <div class="card-body">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label class="control-label" for="datetimepicker-default">Select Date and Time</label>
                                    <input type="text" id="datetimepicker-default" class="form-control" />
                                </div>
                            </div>
                          </div>
                        </div>
                        
             </div>
        </div>

<script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('#profile-img-tag').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#profile-img").change(function(){
            readURL(this);
        });

        $("#profile-img-tag").click(()=>{
            $("#profile-img").click();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bs4-summernote@0.8.10/dist/summernote-bs4.min.js"></script>

    <script>
        $(document).ready(function() {
            $('textarea').summernote({
                height: 300,   //set editable area's height
            });
        });
    </script>