 <div class="admin-login"> 
        <div class="title"> 
            {{!-- <p>Admin login</p>  --}}
        </div> 
        <div class="row"> 
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div> 
         
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 body mt-30"> 
                <div class="logo"> 
                    <img src="/img/logo/logo_1x.png"> 
                    <img src="/img/logo/Tickat_1x.png"> 
                </div> 
                <form id="login-form-admin"> 
                        <div class="input-group"> 
                            <div class="input-group-prepend"> 
                                <span class="input-group-text"><i class="fa fa-user-circle" aria-hidden="true"></i></span> 
                            </div> 
                            <input type="text" class="form-control" placeholder="Username" id="username" aria-describedby="basic-addon1"> 
                        </div> 
                        <div class="input-group"> 
                            <div class="input-group-prepend"> 
                                <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span> 
                            </div> 
                            <input type="password" class="form-control" placeholder="Password" id="password"> 
                        </div> 
                        
                       <div class="message-danger">
                            <p id="message"></p>
                        </div>

                        <div class="row"> 
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"> 
                                <label class="form-check-label"> 
                                    <input type="checkbox" class="form-check-input" id="remember" value="checkedValue" checked> 
                                        Remember me 
                                </label> 
                            </div> 
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"> 
                                <a href=""class="forgot-pass">Forgot password ?</a> 
                            </div> 
                        </div>        
                        <button type="submit" class="btn mt-20 btn-login">Log in</button>    
                </form> 
                <div class="login-with mt-20"> 
                        <label for="">Login with</label> 
                        <span> <img src="/img/icon/facebook.png" alt=""> </span> 
                        <span> <img src="/img/icon/google-plus.png" alt=""> </span> 
                </div>  
                <a href="/admin/sign-up"class="forgot-pass" style="color:#E27F0B">Create a account</a> 
            </div> 
        </div> 
         
    </div> 


<script>
  $("#login-form-admin").on("submit", function(){
    $.ajax({
      type: "POST",
      url: "/login",
      data: {
        username: $('#username').val(),
        password: $('#password').val()
      },
      success: function (res) {
        if(res.status==200)
            window.location.href ="/admin";
        else $("#message").html(res.message);
      },
      error: function(error){
          location.reload();
      }
  });
   return false;
  });
</script>