<div class="container-fuild" id="booking" >
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-tickets wow bounceInDown" >
                <p>Mua vé Thành công</p>
                <hr>
            </div>
        </div>
</div>