 <div class="dashboard-body" style="background:white"> 
        <ul class="nav nav-pills nav-fill bg-main">
                 <li class="nav-item">
                   <i class="fa fa-home" aria-hidden="true"></i>
                   <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                 </li>
                 <li class="nav-item">
                   <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                   <a class="nav-link" href="./dashboard-event.html">Event</a>
                 </li>
                 <li class="nav-item">
                   <i class="fa fa-line-chart" aria-hidden="true"></i>
                   <a class="nav-link" href="/admin/statistics">Statistics</a>
                 </li>
                 <li class="nav-item">
                   <i class="fa fa-cog" aria-hidden="true"></i>
                   <a class="nav-link" href="./profile-admin.html">Setting</a>
                 </li>
               </ul>
           
       </div> 