   <!-- nav start -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-main fixed-top">
      <a class="navbar-brand" href="/">
          <img src="/img/logo/logo_4x.png" width="30" height="30" class="d-inline-block align-top logo" alt="Tickat" onclick="location.href='/index.html'">
          <a class="navbar-brand color-main name-page" href="/">Tickat</a>
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 search-form">
          <div class="input-group">
              <input class="form-control mr-sm-2 search-input" type="search" placeholder="Tìm kiếm" results=3 name="keyword">
              <button class="btn btn-search my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </form>
        <div class="feature">
          {{#if logged}}
              <a href="/users/{{user.username}}" class="login" style="text-decoration: none">
                <img src="{{user.avatar}}" class="avatar" alt="">
              </a> 
              <div class="btn-group  show-on-hover">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-caret-down" style="color:white;font-size:24px;"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" >
                      <li><a href="/users/{{user.username}}" style="color:white"><i class="fas fa-info-circle"></i> Thông tin cá nhân </a></li>
                      <li><a href="#"><i class="fas fa-ticket-alt"></i> Vé đã mua</a></li>
                      <li class="divider"> <hr></li>
                      <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
                    </ul>
                </div>
          {{else}}
            <a href="" data-toggle="modal" data-target=".bd-example-modal-lg" class="login">Đăng nhập</a>
          {{/if}}
            | <a class="create-event" href="#">Tạo sự kiện</a>
        </div>

      </div>
    </nav>
    <!-- nav end -->



    <!-- login modal start -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="home" aria-selected="true">Đăng nhập</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="profile" aria-selected="false">Đăng ký</a>
              </li>
            </ul>
          </div>
          <div class="modal-body">
            <div class="tab-content " id="myTabContent">
              <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="home-tab">
                
                  <div class="row admin-login"> 
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-12 body"> 
                        <div class="logo"> 
                            <img src="/img/logo/logo_1x.png"> 
                            <img src="/img/logo/Tickat_1x.png"> 
                        </div> 
                        <form id="login-form"> 
                                <div class="input-group"> 
                                    <div class="input-group-prepend"> 
                                        <span class="input-group-text"><i class="fa fa-user-circle" aria-hidden="true"></i></span> 
                                    </div> 
                                    <input type="text" class="form-control" placeholder="Username" id="username" aria-describedby="basic-addon1"> 
                                </div> 
                                <div class="input-group"> 
                                    <div class="input-group-prepend"> 
                                        <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span> 
                                    </div> 
                                    <input type="password" class="form-control" placeholder="Password" id="password"> 
                                </div> 
                                
                                <div class="message-danger">
                                    <p id="message"></p>
                                </div>

                                <div class="row"> 
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"> 
                                        <label class="form-check-label"> 
                                            <input type="checkbox" class="form-check-input" id="remember" value="checkedValue" checked> 
                                                Remember me 
                                        </label> 
                                    </div> 
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"> 
                                        <a href=""class="forgot-pass">Forgot password ?</a> 
                                    </div> 
                                </div>             
                                <button type="submit" class="btn mt-20 btn-login">Log in</button>    
                        </form> 
                        <div class="login-with mt-20"> 
                                <label for="">Login with</label> 
                                <span> <img src="/img/icon/facebook.png" alt=""> </span> 
                                <span> <img src="/img/icon/google-plus.png" alt=""> </span> 
                            </div>  
                        <label> 
                        </label> 
                    </div> 
                </div>                 
              </div>
              <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="profile-tab">
                Sign up
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- login modal end -->


<script>
  $("#login-form").on("submit", function(){
    $.ajax({
      type: "POST",
      url: "/login",
      data: {
        username: $('#username').val(),
        password: $('#password').val()
      },
      success: function (res) {
        if(res.status==200)
          location.reload();
        else $("#message").html(res.message);
      }
  });
   return false;
  });
</script>